/* variable css */
:root {
    /* pastel colors */
    --bg-dirty: #EEECE8;
    --scroll: #949494;

    --background: #ffffff;
    --text: #000000;
    --text-secondary: #ffffff;
    --primary: #000000;
    --secondary: #d4d4d4;
    --secondary-light: #f2f2f2;
    --secondary-dark: #575757;
    --grey: #7e7e7e;
    --accent: #000000;
    --error: #fd4557d3;
    --success: #2afc46b9;
    --yellow: #ffa500;

    /* other variables */
    --big-radius: 24px;
    --small-radius: 18px;
    --v-small-radius: 10px;
    --border: 2px solid var(--secondary);
}

/* Reset all web parameters */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

/* common properties */
.page {
    padding-block: 100px;
}

.flex {
    display: flex !important;
}

.gap-5 {
    gap: 5px;
}

.w-100 {
    width: 100%;
}

.title {
    font-size: 36px;
}

.txt-ctr {
    text-align: center;
}

.cur {
    cursor: pointer !important;
}

.subtitle {
    font-size: 16px;
    margin-block: 10px;
}

.black-btn {
    width: fit-content;
    margin: 40px auto;
    padding: 15px 40px;
    color: var(--background);
    font-size: 18px;
    font-weight: 600;
    background-color: var(--text);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 200ms ease;
}

.black-btn:hover {
    scale: 1.05;
}

.hidden {
    display: none;
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
}